<h1>HOME</h1> 
<<<<<<< HEAD
  <%= link_to "出席簿", grade_select_path %>
  <%= link_to "スケジュール", schedules_path %>
=======
  <%= link_to"出席簿",grade_select_path%>


>>>>>>> d48eac2c6cf3d81ba4bf5becaf36a044a26108aa
    

    