<style>

.wrapper {    
	margin-top: 80px;
	margin-bottom: 20px;
}

.form-signin {
  max-width: 420px;
  padding: 30px 38px 66px;
  margin: 0 auto;
  }

.form-signin-heading {
  text-align:center;
  margin-bottom: 30px;
}

.form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
}


.form-signin-heading{
  font-family: "Caveat", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 100px
}

.mail-font{
  font-family:"Tsukimi Rounded", serif;
}

.pw-font{
  font-family:"Tsukimi Rounded", serif;
}

.form-2{
     position: relative;
  width: 100%;
  min-height: 100vh;
  background: url("https://png.pngtree.com/background/20240412/original/pngtree-modern-office-desk-of-a-creative-designer-with-an-empty-laptop-picture-image_8464554.jpg")
    center / cover;
}
</style>

<body class="form-2">
<%= form_with url: login_create_path, model: @login do |form| %>



          <div class = "container">
          <div class="wrapper">
          <div action="" method="post" name="Login_Form" class="form-signin">  
          <div class="form-signin-heading">Time record</div>
            <h2 class="mail-font"><%= form.text_field :mail ,{placeholder:"メールアドレス"}%></h2> <br>

            <h2 class="pw-font"><%= form.text_field :pw ,{placeholder:"パスワード"}%></h2><br>
            <%= form.submit "ログイン" ,{class:"btn btn-lg btn-primary btn-block "}%>

          </div>
</div>
</div>

</div>
<% end %>
</body>