.table{
    width: 300px;
    height: 200px;
    font-size:  40px; 
}
.triangle{
    width: 0;
    height: 0;
    border-left: 30px solid black;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
  }