<div class="text-center">

<h1>管理者ホーム</h1>
<h2><%= link_to "先生",teachers_path ,{class:"btn btn-outline-primary"}%></h2>
<h2><%= link_to "生徒",students_path ,{class:"btn btn-outline-primary"}%></h2>
</div>
