<h1>管理者ホーム</h1>
<body>
<%= form_with url: login_create_path, method: @login do |form| %>

<%= link_to "先生",teachers_path %>

<%= link_to "生徒",students_path %>

<%= link_to'戻る',login_path,{class:"btn btn-outline-secondary"}%>

<% end %>
</body>