<style>
    .{
       
      }  
    }
</style>

<div class="text-center">

<h1>管理者ホーム</h1>
<h2 class="teacher-font"><%= link_to "先生",teachers_path ,{class:"btn btn-outline-primary btn-lg fs-1"}%></h2>
<h2 class="student-font"><%= link_to "生徒",students_path ,{class:"btn btn-outline-primary btn-lg fs-1"}%></h2>


</div>
